@{
    ViewData["Title"] = "Política de Privacidade";
}

<h2 class="mb-3 text-warning fw-bold">@ViewData["Title"]</h2>

<div class="card bg-dark text-light shadow-sm border border-warning">
    <div class="card-body">
        <p class="mb-2">
            Esta página descreve como suas informações são coletadas, usadas e protegidas dentro da plataforma LOTTERA,
        </p>
        <p class="mb-2">
            Ao utilizar este site, você concorda com os termos desta política de privacidade,
        </p>
        <p class="mb-2">
            Não compartilhamos suas informações com terceiros sem o seu consentimento,
            e tomamos todas as medidas necessárias para garantir sua segurança digital,
        </p>
        <p>
            Caso tenha dúvidas ou precise de mais informações, entre em contato com nossa equipe de suporte através dos canais oficiais,
        </p>
    </div>
</div>
